#div1{
    display: grid;
    grid-row-start: 1fr;
    grid-template-columns: 1fr 1fr;
    display: inline-block;
}
.imgj{
    display: flex;
    justify-content: flex-end;
    grid-column-start: 2;
}
#title{
    display: flex;
    justify-content: flex-start; 
    font-family: 'Pacifico', cursive;
    font-size: xx-large;
    position: relative;
}
#Titletext{
    display: flex;
    justify-content: flex-start;
    grid-column-start: 1;
}
#div2{
    display: grid;
    grid-row-start: 1fr;
    grid-template-columns: 1fr 1fr;
}
#logo{
    display: grid;;
    grid-column-start: 1fr;
    grid-row-start: 1fr;
    grid-auto-columns: auto;
}

